@charset "utf-8";

/****************
* FONT FAMILIES *
****************/
@font-face {
  font-family: raleway;
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: ralewayItalic;
  src: url(../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}
/***********
* DEFAULTS *
***********/
body {
    background-color: #E0E4CC;
}

h1 {
	font-family: Bebas Neue;
	font-size: 15vw;
	color: #111111;
  text-align: center;
}

h2 {
	font-family: raleway light;
	font-size: 20pt;
	color: #F38630;
	text-align: center;
}

p {
  font-family: raleway;
  margin:0;
  padding:0;
}


/*********
* COLORS *
*********/
.bg-color-miri {
  background-color: #f8c6dc;
  color: #111111;
}

.bg-color-bananas {
  background-color: #1b79be;
  color:#E0E4CC;
}

.bg-color-ebook {
  background-color: #483e6c;
  color:#E0E4CC;
}

.bg-color-screams {
  background-color: #fbab18;
  color: #111111;
}

.bg-color-jay-ate{
  background-color: #ecd078;
  color: #111111;
}

.bg-color-research {
  background-color: #889c3a;
  color:#E0E4CC;
}

.bg-color-cbm {
  background-color: #722b3d;
  color:#E0E4CC;
}

.bg-color-promo {
  background-color: #56777c;
  color: #111111;
}

.bg-color-mcoa {
  background-color: #102a4b;
  color:#E0E4CC;
}


/******************
* PORTFOLIO ITEMS *
******************/
.portfolio * {
	box-sizing: border-box;
}

.portfolio {
	width:100%;
	box-sizing: border-box;
  padding-top:30px
}

.portfolio:after {
	content: '';
	clear: both;
	display: block;
}

.portfolio-item {
  padding: 12px 15vw;
}

.portfolio-text {
  margin:10px;
  font-size:20px;
  width:100%;
  font-family: raleway;
  font-variation-settings: 'wght' 350;
}

/***********
* ABOUT ME *
***********/
.about-me-container {
  text-align: right;
  margin:30px 14vw
}

.about-me-section {
  margin: 20px 10px;
}

.about-me-section p{
  float:right;
  width:25%
}

.about-me-section .fab{
  font-size: 400px;
}

.section-title{
  font-size:25px;
  font-weight: bold;
  font-variation-settings: 'wght' 500;
}


/*********
* HEADER *
*********/
.header {
  padding: 0px 16px 10px 16px;
  background-color: #E0E4CC;
}

.header-name {
	font-family: Bebas Neue;
	font-size: 15vw;
	color: #111111;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}

.header-name-image {
	width: 100%;
	padding: 0 14vw;
}


/**********
* COLUMNS *
**********/
.col {
	float: left;
	padding: 1%;
}
.col:first-child {
	margin-left: 0%;
}

@media (min-width:320px) { 
.col {
	width: 100%;
	margin-left: 0%;
}
/* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:641px) {
.col {
	width: 50%;
}
/* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) {
 .col {
	margin-left: 1.4%;
}
.col-1-of-3 {
	width: 32.400000000000006%;
}
.col-2-of-3 {
	width: 66.2%;
}
.col-3-of-3 {
	width: 100%;
}
.col-4-of-3 {
	width: 66.2%;
}
.col-5-of-3 {
	width: 83.10000000000001%;
}
.col-6-of-3 {
	width: 100.00000000000001%;
}

/* big landscape tablets, laptops, and desktops */ }
/* Generated by responsivegenerator.com */
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
 padding-top: 102px;
}
